<nav class="idx" id="idx" aria-label="{{ui.indexNav}}">
  <span class="idx__title mono">{{ui.index}}</span>
  <ol class="idx__list">
    {{{navList}}}
  </ol>
  <div class="idx__foot">
    <a href="{{cv}}" download data-cue="{{ui.cvCue}}"><svg viewBox="0 0 24 24"><use href="#i-download"/></svg>{{ui.cvLabel}}</a>
    <div class="idx__soc">
      <a href="https://www.linkedin.com/in/abdullah-al-ashtal/" target="_blank" rel="noopener me" aria-label="LinkedIn"><svg viewBox="0 0 24 24"><use href="#i-linkedin"/></svg></a>
      <a href="https://www.instagram.com/3bdu_ak/" target="_blank" rel="noopener me" aria-label="Instagram"><svg viewBox="0 0 24 24"><use href="#i-instagram"/></svg></a>
      <a href="https://www.facebook.com/abdallah.alashtal" target="_blank" rel="noopener me" aria-label="Facebook"><svg viewBox="0 0 24 24"><use href="#i-facebook"/></svg></a>
    </div>
  </div>
</nav>
